@media only screen and (min-width: 1028px){

header, footer { max-width: 75rem; margin: auto; }
nav, main { max-width: 66rem; margin: auto; }

nav ul { padding-left: 2%; }
nav li { width: auto; }
nav a { padding: .8rem 0%; }

main figure { width: 50%; }

div.news { column-count: 4; }

} /* end of media query (large) */